@import url("buttons.css");

body {
    color: #fff;
    background-color: #00f;
    margin: 15px 25px 15px 25px;
}
p {
    text-align: justify;
}
h1, h2 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
}
img {
    border: 0;
}

table {
    color: #00f;
    margin: 0 auto;
    text-align: center;
}
table th {
    color: #fff;
    background-color: #f00;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font: 20px arial;
    border: 1px solid #fff;
}
table td {
    padding: 10px;
    border: 1px solid #fff;
}
table tr {
    background: #0f0;
    color: inherit;
}
